@import '../styles/variables';

.location-section {
  @include columnDisplay();
   height: 100vh;
   width: 100%; 
   .location-info {
     margin-top: 2em;
     h2 {
       @include headerFont(4em);
       justify-content: flex-start;
       color: $alabaster;
       margin-right: 15em;
       text-shadow: 2px 2px black;
      //  width: 100%;
     }
   }
   header {
    @include columnDisplay();
    align-items: flex-end;
    margin: 0;
    width: 100%;
    h1 {
      margin-right: 1.5em;
      font-size: 2.5em;
      color: white;
      text-shadow: 2px 2px black;
    }
    nav {
      margin-right: 2.75em;
    }
    .nav-btns {
      font-size: 1em;
      margin: 0;
      margin-right: 10px;
      color: $alabaster;
      text-shadow: 1.5px 2px black;
      &:hover {
        color: $blueSapphire;
        background: $alabaster;
        text-shadow: none;
        border-radius: 4px;
      }
    }
  }
}
  .rocky-mountain-national-park {
    background: url(../assets/coRMNP.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } 
  .mesa-verde-national-park  {
    background: url(../assets/coMVNP.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } 
  .black-canyon-of-the-gunnison-national-park  {
    background: url(../assets/coBCGNP.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } 
  .great-sand-dunes-national-park-and-preserve {
    background: url(../assets/coDunes.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  } 
  .glacier-national-park  {
    background: url(../assets/mtGNP.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  } 
  .grand-tetons-national-park  {
    background: url(../assets/wyTetons.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  } 
  .yellowstone-national-park  {
    background: url(../assets/wyYNP.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } 

  


