@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$headerFont: 'Amatic', cursive;
$textFont: 'Raleway', sans-serif;
$alabaster: #EEEDE8;
$prussianBlue: #083248;
$blueSapphire: #315B74;
$khaki: #7F725C;
$bronze: #676405;
$pewterBlue: #799AAB;