@import '../styles/variables';

.home {
  @include columnDisplay();
  background: url(../assets/mtRoad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}