@import '../styles/variables';

.home {
  @include columnDisplay();
  // background: url(../assets/coDriving.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  height: 100vh;
  width: 100%;  
  
  .home-link {
    display: none;
  }

  .state-boxes {
    @include columnDisplay();
    justify-content: space-around;
    margin-top: 6em;
    width: 100%;
    .state {
      @include rowDisplay();
      background: rgba(238, 237, 232, 0.82);
      width: 100%;
      .state-text {
        @include columnDisplay();
        justify-content: center;
        height: 100%;
        h2 {
          @include headerFont(2em);
        }
        p {
          @include textFont(1em);
        }
      }
    }

  }
}