@import '../styles/variables';

.App {
  // display: block;
  height: 100vh;
  background: #EEEDE805;
  text-align: center;
  overflow-x: hidden;
}


main {
  @include columnDisplay();
  padding: 0;
  width: 100%;
}






