@import '../styles/variables';

.App {
  height: 100vh;
  background: #EEEDE805;
  text-align: center;
}

main {
  @include columnDisplay();
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  // margin-top: 8em;
  overflow-x: hidden;
}






