@import '../styles/variables';

.about {
  @include columnDisplay();
  background: url(../assets/coDriving.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  header {
    margin-right: 8em;
    margin-top: 7em;
    h1, .nav-btns {
      color: $pewterBlue;
    }
    .nav-btns  {
      &:hover {
        color: $alabaster;
      }
    }
  }
}