@import '../styles/variables';

.about {
  @include columnDisplay();
  background: url(../assets/coDriving.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  header {
    margin-right: 9.5em;
    margin-top: 5.5em;
    h1, .nav-btns {
      color: $pewterBlue;
      text-shadow: 3px 3px black;
    }
    .nav-btns  {
      &:hover {
        color: $alabaster;
      }
    }
    .about-link, .state-link {
      display: none;
    }
  }

  .about-boxes {
    @include rowDisplay();
    justify-content: space-around;
    margin-top: 7em;
    width: 90vw;
    .about-box {
      @include columnDisplay();
      justify-content: center;
      background: $mutedWhite;
      border: 1px solid $khaki;
      border-radius: 14px;
      box-shadow: 2px 2px 10px black;
      padding: 2%;
      height: 175px;
      width: 300px;
        h2 {
          @include headerFont(2em);
          margin-bottom: 6px;
        }
        p {
          @include textFont(1em);
        }
        a {
          text-decoration: none;
          @include textFont(1em);
          color: $blueSapphire;
          font-weight: bold;
          &:hover {
            color: $pewterBlue;
          }
        }

    }
  }

}