@import '../styles/variables';

.add-button {
  border: none;
  padding: 0;
  @include headerFont(1.25em);
  width: 5em;
  text-shadow: none;
  color: $prussianBlue;
  background: $alabaster;
  margin-left: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px black;
  padding: .5%;
  &:hover {
    color: $alabaster;
    background: $blueSapphire;
  }
}
