@import '../styles/variables';

.saved-section {
  @include columnDisplay();
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background: url(../assets/idSunset.jpg);
  background-position: center;
  background-size: cover;


  header {
    margin: 0;
  }
  .saved-trips {
   @include rowDisplay();
    justify-content: center;
    margin-top: 9em;
    width: 90vw;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  .trip {
    @include columnDisplay();
    justify-content: center;
    background: $mutedWhite;
    border: 2px solid $khaki;
    border-radius: 14px;
    box-shadow: 2px 2px 10px black;
    text-decoration: none;
    margin: 10px;
    height: 170px;
    overflow-y: scroll;
    width: 250px;
    .trip-dates {
      @include rowDisplay();
    }
    h2 {
      @include headerFont(2em);
    }
    p {
      @include textFont(1em);
    }
    .comment {
      @include textFont(1em);
      font-style: italic;
      margin-bottom: 5px;
    }

  }
}