@import '../styles/variables';

.search-section {
  @include columnDisplay();
  width: 100%;
  height: 100vh;
  background: url(../assets/wyAfternoon.jpg);
  background-position: center;
  background-size: cover;

  form {
    display: hidden;
  }
  header {
    margin: 0;
    h1, .nav-btns {
      color: $alabaster;
    }
    .nav-btns {
      text-shadow: 1px 1px black;
      &:hover {
        color: $prussianBlue;
        text-shadow: 1px 1px 2px white;
      }
    }
    .state-link {
      display: none;
    }
  }
  .results-section {
    @include rowDisplay();
    justify-content: center;
    margin-top: 9em;
    width: 90vw;
    flex-wrap: wrap;
    overflow-y: scroll;
    .no-results {
      @include headerFont(2em);
      color: $alabaster;
      text-align: center;
    }
    .result {
      @include columnDisplay();
        justify-content: center;
        background: $mutedWhite;
        border: 2px solid $khaki;
        border-radius: 14px;
        box-shadow: 2px 2px 10px black;
        text-decoration: none;
        margin: 10px;
        height: 120px;
        width: 250px;
        h2 {
          @include headerFont(2em);
        }
        p {
          @include textFont(1em);
          font-weight: bold;
        }
         &:hover {
        background: $blueSapphire;
        color: $alabaster;
        h3, h4 p {
          color: $alabaster;
        }
      }
    }
  }  
}