@import '../styles/variables';

.state-section {
  @include columnDisplay();
  height: 100vh;
  width: 100%; 
  .state-info {
    margin-top: 3em;
    h2, .state-header {
      @include headerFont(2.5em);
      color: $alabaster;
      text-align: left;
      margin: 0;
      margin-left: 1em;
      text-shadow: 2px 2px black;
    }
    .state-header {
      font-size: 4em;
      margin-left: .5em;
    }
  }
  
  header {
    @include columnDisplay();
    align-items: flex-end;
    margin: 0;
    margin-right: 4em;
    width: 100%;
    h1 {
      font-size: 4em;
      color: $alabaster;
      text-shadow: 2px 2px black;
    }
    nav {
      margin: 0;
    }
    .nav-btns {
      color: $alabaster;
      text-shadow: 1.5px 2px black;
      &:hover {
        color: $alabaster;
        box-shadow: 1px 1px 5px white;
        border-radius: 4px;
      }
    }
  }
}
.colorado {
  background: url(../assets/coBells.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 
.idaho {
  background: url(../assets/idMountains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
}
  .montana {
    background: url(../assets/mtFall.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .wyoming {
    background: url(../assets/wyPeak.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .national-parks {
    @include rowDisplay();
    justify-content: space-evenly;
    width: 90vw;

    .park, .park-nf {
      @include columnDisplay();
      justify-content: center;
      background: $mutedWhite;
      border: 2px solid $khaki;
      border-radius: 14px;
      box-shadow: 2px 2px 10px black;
      text-decoration: none;
      height: 100px;
      width: 275px;

      h3 {
        @include headerFont(2em);
        color: $pineGreen;
      }
      p {
        @include textFont(1em);
      }
        &:hover {
        background: $blueSapphire;
        color: $alabaster;
        h3, p {
          color: $alabaster;
        }
       }
      }
    }
  

  .non-np {
    @include rowDisplay();
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90vw;
    height: 150px;
    overflow-y: scroll;
      .rec-area, .rec-nf {
        @include columnDisplay();
        justify-content: center;
        background: $mutedWhite;
        border: 2px solid $khaki;
        border-radius: 14px;
        box-shadow: 2px 2px 10px black;
        text-decoration: none;
        margin: 10px;
        height: 95px;
        width: 150px;
        h3, h4 {
          @include headerFont(1.5em);
        }
        p {
          @include textFont(1em);
          font-weight: bold;
        }
         &:hover {
        background: $blueSapphire;
        color: $alabaster;
        h3, h4 p {
          color: $alabaster;
        }
      }
      }
  }